In [2]:
import numpy as np
import networkx as nx
import matplotlib
import scipy
import pandas as pd
import matplotlib.pyplot as plt

In [9]:
politifact_users = pd.read_table('data/politifact/politifactuseruser.txt', delim_whitespace=True, names=['from', 'to'])
politifact_users

         from     to
0         507      1
1        1589      1
2        5307      1
3       11421      1
4       13267      1
5       20571      1
6        1205      2
7        2631      2
8        8114      2
9       10429      2
10      15442      2
11      17464      2
12      19399      2
13      19991      2
14      20371      2
15      22113      2
16      23687      2
17        698      3
18       2541      3
19       4043      3
20       4782      3
21       5250      3
22       5737      3
23       8017      3
24       8114      3
25       8291      3
26       8776      3
27       8891      3
28       8895      3
29       9115      3
...       ...    ...
574714   8273  23859
574715  11370  23859
574716  12479  23859
574717  13329  23859
574718  13588  23859
574719  14006  23859
574720  14818  23859
574721  15759  23859
574722  16386  23859
574723  16561  23859
574724  17626  23859
574725  18183  23859
574726   5366  23861
574727   5616  23861
574728  19991  23861
574729  12952  23862
574730  17247  23862
574731  19399  23862
574732   5140  23863
574733  14684  23863
574734  16324  23863
574735  16355  23863
574736   8114  23864
574737  16027  23864
574738  19399  23864
574739  22113  23864
574740   6324  23865
574741  10715  23865
574742  11222  23865
574743  19991  23865

[574744 rows x 2 columns]

In [11]:
politifact_user_graph = nx.convert_matrix.from_pandas_edgelist(politifact_users, source='from', target='to')

In [ ]:
nx.draw_networkx(politifact_user_graph)

In [ ]:
buzzfeed_users = pd.read_table('data/buzzfeed/buzzfeeduseruser.txt', delim_whitespace=True, names=['from', 'to'])
buzzfeed_user_graph = nx.convert_matrix.from_pandas_edgelist(buzzfeed_users, source='from', target='to')
nx.draw_networkx(buzzfeed_user_graph)